@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section id="about" class="about">
	<div class="about-me container">

		<div class="section-title">
			<h2>About</h2>
			<p>Learn more about me</p>
		</div>

		<div class="row">
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
				<h3>Full-Stack Web Developer</h3>
				<p class="fst-italic">
					@Model.AboutMe
				</p>
				<div class="row">
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 January
									2001</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>GitHub:</strong>
								<a href="@Model.Liinks">https://github.com/Gvantsa19</a>
							</li>
							<li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>598 27 25
									18</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tbilisi,
									Georgia</span></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
								<a href="mailto:oqropiridzegvantsa@gmail.com">oqropiridzegvantsa@gmail.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="skills container">

		<div class="section-title">
			<h2>Skills</h2>
		</div>

		<div class="row skills-content">

			<div class="col-lg-6">

				<div class="progress">
					<span class="skill">@Model.HTml<i class="val">100%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.CSS<i class="val">90%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.JavaScript<i class="val">80%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.AngularMaterial<i class="val">80%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.NodeJs<i class="val">75%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

			</div>

			<div class="col-lg-6">

				<div class="progress">
					<span class="skill">@Model.Csharp<i class="val">85%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.Typescript<i class="val">85%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.WordPress<i class="val">60%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.SQL<i class="val">60%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.NetCore<i class="val">80%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

				<div class="progress">
					<span class="skill">@Model.NestJs<i class="val">75%</i></span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<div class="interests container">

		<div class="section-title">
			<h2>Interests</h2>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-4 mb-5">
				<div class="icon-box">
					<i class="ri-server-line" style="color: #ffbb2c;"></i>
					<h3>@Model.Microservices</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
				<div class="icon-box">
					<i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
					<h3>@Model.CQrs</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
				<div class="icon-box">
					<i class="ri-server-line" style="color: #ffbb2c;"></i>
					<h3>@Model.DDD</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-calendar-event-line" style="color: #e361ff;"></i>
					<h3>@Model.EventSourcing</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-paint-brush-line" style="color: #e361ff;"></i>
					<h3>@Model.Cleanarchitecture</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-paint-brush-line" style="color: #e361ff;"></i>
					<h3>@Model.RepositoryPattern</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-paint-brush-line" style="color: #e361ff;"></i>
					<h3>@Model.RabbitMQ</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-paint-brush-line" style="color: #e361ff;"></i>
					<h3>@Model.Kafka</h3>
				</div>
			</div>
		</div>

	</div>


</section>