@inherits UmbracoViewPage<IHeaderProperties>;

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    @if (Model.BookStore != null)
                    {
                        <img src="@Model.BookStore.Url()" class="img-fluid" alt="">
                    }
                    <div class="portfolio-info">
                        <h4>Book-Store</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/Gvantsa19/Book-Store" data-gallery="portfolioDetailsGallery"
                                data-glightbox="type: external" class="portfolio-details-lightbox"
                                title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    @if (Model.Delivery != null)
                    {
                        <img src="@Model.Delivery.Url()" class="img-fluid" alt="">
                    }
                    <div class="portfolio-info">
                        <h4>Delivery-Service</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/Gvantsa19/Delivery-Application"
                                data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                                class="portfolio-details-lightbox" title="Portfolio Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    @if (Model.MIcafe != null)
                    {
                        <img src="@Model.MIcafe.Url()" class="img-fluid" alt="">
                    }
                    <div class="portfolio-info">
                        <h4>MI-Cafe</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/Gvantsa19/MI-Cafe" data-gallery="portfolioDetailsGallery"
                                data-glightbox="type: external" class="portfolio-details-lightbox"
                                title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    @if (Model.Product != null)
                    {
                        <img src="@Model.Product.Url()" class="img-fluid" alt="">
                    }
                    <div class="portfolio-info">
                        <h4>product-factory</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="#" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                                class="portfolio-details-lightbox" title="Portfolio Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    @if (Model.Aversiproject != null)
                    {
                        <img src="@Model.Aversiproject.Url()" class="img-fluid" alt="">
                    }
                    <div class="portfolio-info">
                        <h4>aversi_project</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                                data-glightbox="type: external" class="portfolio-details-lightbox"
                                title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>