@inherits UmbracoViewPage<IHeaderProperties>
<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>@Model.Politic</h4>
                    <h5>2019-2023</h5>
                    <p><em>@Model.Uni</em></p>
                </div>
                <div class="resume-item">
                    <h4>@Model.BackEndDevelopment</h4>
                    <h5>2021-2022</h5>
                    <p><em>@Model.Ol</em></p>
                </div>
                <div class="resume-item">
                    <h4>Download My Resume</h4>
                    <a href="@Model.Resume" download><button type="button" style="background-color: green;"
                            class="btn"><span class="bi bi-file-earmark-arrow-down-fill"></span></button></a>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>@Model.FUllstackdeveloper</h4>
                    <h5>2022 - Present</h5>
                    <p><em>@Model.RSigeorgia</em></p>
                    <p>
                    <ul>
                        <li>@Model.Fullstack</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>@Model.NEtinternn</h4>
                    <h5>2021-2022</h5>
                    <p><em>@Model.CRedobank</em></p>
                    <p>
                    <ul>
                        <li>@Model.Netintern</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>@Model.JUniorfrontenddeveloper</h4>
                    <h5>2021-2021</h5>
                    <p><em>@Model.SElfge</em></p>
                    <p>
                    <ul>
                        <li>@Model.Jrfront</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>@Model.FRontenddeveloperintern</h4>
                    <h5>2021-2021</h5>
                    <p><em>@Model.GEolab</em></p>
                    <p>
                    <ul>
                        <li>@Model.Frontintern</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>